*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --dark-color: #323a45;
    /* Custom dark color */
    --color-fff: #ffffff;
    /* Custom white color */
    --color-100: #f0f0f0;
    /* Custom light color 100 */
    --color-200: #eeeeee;
    /* Custom light color 200 */
    --color-300: #e0e0e0;
    /* Custom light color 300 */
    --color-400: #bdbdbd;
    /* Custom light color 400 */
    --color-500: #555555;
    /* Custom color 500 */
    --color-600: #757575;
    /* Custom color 600 */
    --color-700: #616161;
    /* Custom color 700 */
    --color-800: #424242;
    /* Custom color 800 */
    --color-900: #212121;
    /* Custom color 900 */
    --color-000: #000000;
    /* Custom color 000 (black) */
    --border-color: #f0f0f0;
    /* Custom border color */
    --card-color: #ffffff;
    /* Custom card background color */
    --body-color: #eff0f2;
    /* Custom body background color */
    --theme-color: #fefefe;
    /* Custom white color */
    --white-color: #ffffff;
    /* Custom white color */
    --sidebar-color: #fcfcfc;
    /* Custom sidebar background color */
    --hc-font-color: #555555;
    /* Custom high-contrast font color */
    --hc-bg-color: #f0f0f0;
    /* Custom high-contrast background color */
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(0, 0, 0, 0.35)
    );
    /* Custom gradient background */
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[class="theme-cyan"] {
    --primary-color: #f26513;
    --secondary-color: #feefe8;
    --chart-color1: #4ad379;
    --chart-color2: #735ee9;
    --chart-color3: #e271fd;
    --chart-color4: #5e44ef;
    --chart-color5: #b22bc4;
    --chart-color6: #3498db;
    --chart-color7: #2ecc71;
    --chart-color8: #9b59b6;
    --chart-color9: #f1c40f;
    --chart-color10: #e67e22;
    --chart-color11: #e74c3c;
    --chart-color12: #95a5a6;
    --chart-color13: #1abc9c;
    --chart-color14: #e91e63;
    --chart-color15: #d35400;
    --primary-gradient: linear-gradient(
        to right,
        var(--primary-color) -20%,
        var(--secondary-color),
        var(--body-color)
    );
}
.bg-chart1 {
    background-color: var(--chart-color1);
}
.bg-chart2 {
    background-color: var(--chart-color2);
}
.bg-chart3 {
    background-color: var(--chart-color3);
}
.bg-chart4 {
    background-color: var(--chart-color4);
}
.bg-chart5 {
    background-color: var(--chart-color5);
}
.bg-chart6 {
    background-color: var(--chart-color6);
}
.bg-chart7 {
    background-color: var(--chart-color7);
}
.bg-chart8 {
    background-color: var(--chart-color8);
}
.bg-chart9 {
    background-color: var(--chart-color9);
}
.bg-chart10 {
    background-color: var(--chart-color10);
}
.bg-chart11 {
    background-color: var(--chart-color11);
}
.bg-chart12 {
    background-color: var(--chart-color12);
}
.bg-chart13 {
    background-color: var(--chart-color13);
}
.bg-chart14 {
    background-color: var(--chart-color14);
}
.bg-chart15 {
    background-color: var(--chart-color15);
}
.progressbar {
    background-color: var(--color-fff);
}
a {
    text-decoration: none;
}
.fa-2x {
    font-size: 2em;
}
.fa {
    display: inline-block;
    /* font: normal normal normal 14px/1 FontAwesome; */
    color: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.dropdown-toggle::after {
    display: none;
}
.btn.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.card .card-body {
    color: var(--color-600) !important;
}
textarea.no-resize {
    resize: none;
}
.card .card-title {
    margin: 0;
    /* color: var(--color-800); */
}
.card .card-header .header-dropdown i {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 20px;
    color: var(--color-500);
}
.btn:focus,
.btn:active {
    box-shadow: none;
}
.table tr td {
    border-color: var(--border-color);
    color: var(--color-500);
    background-color: transparent;
    padding: 0.8rem 0.6rem;
}
.formLoader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: none;
    position: relative;
    border: 3px solid;
    border-color: #fff #fff transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.formLoader::after,
.formLoader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #ff3d00 #ff3d00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}
.formLoader::before {
    width: 32px;
    height: 32px;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

body {
    background-color: var(--body-color);
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    color: var(--color-500);
}
thead,
tr,
td {
    position: relative;
}
table.dataTable tr.dt-hasChild td.dt-control:before {
    content: "\f107" !important;
    background-color: var(--chart-color1) !important;
    color: #fff !important;
}
table.dataTable td.dt-control:before{
    -moz-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
    background-color: var(--primary-color);
    color: #212529;
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.sidebar .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sidebar {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 250px;
    margin: 1rem;
    background-color: var(--theme-color);
    float: left;
    position: fixed;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: calc(100% - 63px);
    padding-bottom: 30px;
    /* margin-top: 58px; */
    left: -280px;
    z-index: 99;
}

.opened .sidebar {
    left: 5px;
}
.opened #main-content {
    width: calc(100% - 250px);
    padding: 0 40px;
}
.logo-wrapper {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
}
/* .sidebar .metismenu > li:hover,
.sidebar .metismenu > li:active {
  background-image: var(--primary-gradient);
} */
.sidebar .metismenu a:hover,
.sidebar .metismenu a:focus,
.sidebar .metismenu a:active {
    background-image: var(--primary-gradient);
    color: var(--color-900);
    text-decoration: none;
}

.sidebar .metismenu a {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--color-500);
    font-size: 15px;
    position: relative;
    padding: 13px 15px;
    outline-width: 0;
}
.sidebar .metismenu > li {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar .metismenu > li:hover i,
.sidebar .metismenu > li:active i {
    background-color: var(--primary-color);
    color: var(--white-color);
}
.sidebar .metismenu > li:hover a,
.sidebar .metismenu > li:active a {
    font-weight: bold;
}
.sidebar .metismenu > li a i {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--color-900);
    border-radius: 50%;
    padding: 10px;
    margin-right: 1rem;
    background-color: var(--secondary-color);
}
.sidebar .metismenu > li i {
    font-size: 16px;
    min-width: 32px;
}
.sidebar .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.sidebar .metismenu ul a::before {
    content: "--";
    position: absolute;
    left: 19px;
}
.sidebar .metismenu ul ul a {
    padding: 10px 15px 10px 70px;
}

.sidebar .metismenu ul.collapse a:hover,
.sidebar .metismenu ul.collapse a:focus {
    text-decoration: none;
}

.sidebar .metismenu .active .has-arrow::after {
    color: var(--color-900);
}
.sidebar .metismenu > li i {
    font-size: 16px;
    min-width: 32px;
}
.sidebar .metismenu ul a {
    color: var(--color-600);
    font-size: 14px;
    padding: 8px 15px 8px 48px;
    position: relative;
    display: block;
}
.projects-menu > li {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    border: 1px solid #838fa0;
    cursor: pointer;
    margin-bottom: 1rem;
    height: auto;
    background-color: #fff;
    border-radius: 11px;
}
.projects-menu > li a {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--color-500);
    font-size: 15px;
    position: relative;
    padding: 13px 15px;
    outline-width: 0;
}
.projects-menu ul li {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: var(--color-500);
    font-size: 15px;
    position: relative;
    margin-left: 3rem;
    padding: 10px;
    outline-width: 0;
}
.projects-menu ul li::before {
    content: "--";
    position: absolute;
    left: -10px;
}

/* 
.sidebar .metismenu > li a {
  border-radius: 0 3px 3px 0;
}

.sidebar .metismenu > li a i {
  color: var(--primary-color);
}
.
.sidebar .metismenu > li.active > a {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.sidebar .metismenu > li.active > a i {
  color: var(--white-color);
}

.sidebar .metismenu > li .active a {
  font-weight: 700;
}




.sidebar .metismenu a:hover i,
.sidebar .metismenu a:focus i,
.sidebar .metismenu a:active i {
  color: var(--white-color);
}

}


 */
.navbar-nav .icon-menu {
    padding: 10px;
    position: relative;
    background-color: var(--white-color);
    margin-right: 0.5rem;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-nav .icon-menu:hover {
    background-color: var(--secondary-color);
}
#main-content {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* width: calc(100% - 250px);
  padding: 0 40px; */
    float: right;
    width: 100%;
    padding: 0;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 30px;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}
.ham2 .top {
    stroke-dasharray: 40 121;
}
.ham2 .bottom {
    stroke-dasharray: 40 121;
}
.ham2.active .top {
    stroke-dashoffset: -102px;
}
.ham2.active .bottom {
    stroke-dashoffset: -102px;
}
.navbar-fixed-top {
    background: var(--body-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
}
.search-form {
    position: relative;
}
.search-form .btn {
    position: absolute;
    top: 50%;
    right: 0;
    border: none;
    color: var(--color-500);
    background-color: transparent;
    transform: translateY(-50%);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-form .btn:hover,
.search-form .btn:focus {
    background-color: inherit;
    border-left: none;
    border-color: inherit;
}
.form-control:focus {
    box-shadow: 0 0 10px rgba(33, 37, 41, 0.15);
    background-color: var(--card-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.search-form .form-control {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.search-form .form-control:focus {
    width: 324px;
}
.feeds_widget li {
    padding: 12px 15px;
    margin: 4px 0;
}
.navbar-nav .icon-menu i {
    color: var(--color-500);
    z-index: 99999;
}
.navbar-nav .icon-menu .notification-dot {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 12px;
    right: 7px;
    background-color: var(--primary-color);
}
.dropdown-toggle {
    white-space: nowrap;
}
.feeds_widget li .feeds-left {
    width: 33px;
}
.navbar-nav .dropdown-menu.notification {
    width: 360px;
}
.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
}
.dropdown-item {
    color: var(--color-700);
}
.dropdown-menu > li {
    opacity: 0;
    transform: translateY(15px);
    -webkit-animation: eliment-animation 0.2s ease-in-out 0.33333s;
    animation: eliment-animation 0.2s ease-in-out 0.33333s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dropdown-menu > li:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.dropdown-menu > li:nth-child(2) {
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
}

.dropdown-menu > li:nth-child(3) {
    -webkit-animation-delay: 0.16s;
    animation-delay: 0.16s;
}

.dropdown-menu > li:nth-child(4) {
    -webkit-animation-delay: 0.19s;
    animation-delay: 0.19s;
}

.dropdown-menu > li:nth-child(5) {
    -webkit-animation-delay: 0.22s;
    animation-delay: 0.22s;
}

.dropdown-menu > li:nth-child(6) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.dropdown-menu > li:nth-child(7) {
    -webkit-animation-delay: 0.28s;
    animation-delay: 0.28s;
}

@-webkit-keyframes eliment-animation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes eliment-animation {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.swiper-slide .card-header {
    border: none;
    background: none;
}
.swiper-slide {
    position: relative;
    z-index: 1;
}
/*.swiper-slide::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;  Adjust the width of the image 
  height: 150px;
  background-image: url("./hd-yellow-spark-effect-png-31627516240vwywukysc1.png"); 
  background-size: cover; 
  background-position: bottom left; 
  opacity: 1; 
  z-index: -1; 
}*/
.swiper-slide .progress {
    border-radius: 30px;
    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}
.swiper-slide .progress-bar {
    border-radius: 0 30px 30px 0;
    background-color: var(--white-color);
    color: var(--color-000);
}
.card-header i {
    cursor: pointer;
}
.swiper-container .project-add {
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background-color: var(--white-color);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 1.5%;
    z-index: 99;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transform: translate(-50%, -50%);
    box-shadow: 13px 13px 26px #b6b6b6, -13px -13px 26px #f2f2f2;
}
.project-add:hover {
    background-color: var(--primary-color);
}
.project-add:active {
    box-shadow: 5px 5px 10px #b4b4b4, -5px -5px 10px #f4f4f4;
}
.project-add i {
    color: var(--color-900);
}
.team-info li {
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
}

.team-info li + li {
    margin-left: -10px;
}

.team-info li img {
    border-radius: 50%;
    width: 30px;
    border: 2px solid var(--color-200);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.team-info li:hover {
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);
    z-index: 999;
}

.team-info li:hover img {
    -webkit-box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
    box-shadow: 0 14px 24px rgba(62, 57, 107, 0.2);
}
.card .card-header .header-dropdown li .dropdown-menu {
    background: var(--color-900);
    overflow: hidden;
    padding: 10px;
}
.dropdown-item:hover {
    background-color: var(--primary-color) !important;
    color: var(--color-900) !important;
}
.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.todo_list .form-check-input:checked + label {
    text-decoration: line-through;
}
.card .card-body {
    color: var(--color-600) !important;
}
/* Modify the font size of the placeholder text */
.dropify-wrapper .dropify-message p {
    font-size: 1.5rem; /* Adjust the desired font size */
}
.right_chat li {
    position: relative;
}

.right_chat li.offline .status {
    background-color: #6f6f6f;
}

.right_chat li.online .status {
    background-color: #8bc34a;
}

.right_chat .status {
    position: absolute;
    left: 35px;
    top: 35px;
    width: 11px;
    height: 11px;
    min-width: inherit;
    border: 2px solid #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.timeline-item {
    position: relative;
    border-left: 1px solid;
    padding: 3em 2em 2em;
}

.timeline-item:after {
    background: #fff;
    content: "";
    position: absolute;
    border: 2px solid;
    width: 10px;
    height: 15px;
    top: 1em;
    left: -6px;
    border-radius: 10px;
}

.timeline-item.green {
    border-color: #28a745;
}

.timeline-item.green:after,
.timeline-item.green .date {
    color: #28a745;
}

.timeline-item.blue {
    border-color: #0078ff;
}

.timeline-item.blue:after,
.timeline-item.blue .date {
    color: #0078ff;
}

.timeline-item.warning {
    border-color: #f68c1f;
}

.timeline-item.warning:after,
.timeline-item.warning .date {
    color: #f68c1f;
}

.timeline-item.danger {
    border-color: #ee2558;
}

.timeline-item.danger:after,
.timeline-item.danger .date {
    color: #ee2558;
}

.timeline-item.dark {
    border-color: #17191c;
}

.timeline-item.dark:after,
.timeline-item.dark .date {
    color: #17191c;
}

.timeline-item .date {
    display: block;
    margin-top: -30px;
    margin-bottom: 10px;
}

.timeline-item .msg {
    margin: 15px 0;
}

.mail-inbox .mail-left {
    border-right: 1px solid var(--border-color);
    display: block;
    width: 200px;
}

@media (min-width: 992px) {
    .mail-inbox .mail-left {
        width: 260px;
    }
}

@media (max-width: 575.98px) {
    .mail-inbox .mail-left {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-left {
        border-top: 1px solid var(--border-color);
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        z-index: 97;
        top: 60px;
    }
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-left.collapse:not(.show) {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-left.collapse:not(.show) + .mail-right {
        width: 100%;
    }
}

.mail-inbox .mail-left .mail-side .nav li {
    padding: 10px;
}

.mail-inbox .mail-left .mail-side .nav li a {
    color: var(--color-600);
    display: flex;
    align-items: center;
}

.mail-inbox .mail-left .mail-side .nav li a i {
    font-size: 17px;
    width: 35px;
    -webkit-transition: font-size 0.2s;
    -moz-transition: font-size 0.2s;
    transition: font-size 0.2s;
}

.mail-inbox .mail-left .mail-side .nav li a .badge {
    margin-left: auto;
    margin-right: 0;
}

.mail-inbox .mail-left .mail-side .nav li:hover {
    background-color: var(--body-color);
}

.mail-inbox .mail-left .mail-side .nav li:hover a i {
    font-size: 20px;
}

.mail-inbox .mail-left .mail-side .nav li.active {
    background-color: var(--body-color);
}

.mail-inbox .mail-left .mail-side .nav li.active a {
    color: var(--color-500);
}

.mail-inbox .mail-left .mail-side h3,
.mail-inbox .mail-left .mail-side .h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 30px;
    line-height: 20px;
}

.mail-inbox .mail-right {
    width: calc(100% - 200px);
    position: relative;
}

@media (min-width: 992px) {
    .mail-inbox .mail-right {
        width: calc(100% - 260px);
    }
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right {
        width: 100%;
    }
}

.mail-inbox .mail-right .header {
    padding: 15px;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .header {
        flex-direction: column;
    }

    .mail-inbox .mail-right .header .ml-auto {
        margin-top: 15px;
    }
}

.mail-inbox .mail-right h2,
.mail-inbox .mail-right .h2 {
    line-height: 35px;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right h6,
    .mail-inbox .mail-right .h6 {
        display: none;
    }
}

.mail-inbox .mail-right .mail-action {
    padding: 15px;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-action {
        padding: 10px;
    }

    .mail-inbox .mail-right .mail-action .btn {
        padding: 0.375rem 0.75rem;
    }
}

.mail-inbox .mail-right .mail-action .btn {
    padding: 0.375rem 10px;
}

.mail-inbox .mail-right .mail-action .pagination-email p {
    line-height: 30px;
    margin-bottom: 0;
}

@media (max-width: 991.98px) {
    .mail-inbox .mail-right .mail-action .pagination-email p {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-list {
        padding: 0;
    }
}

.mail-inbox .mail-right .mail-list ul li {
    border-top: 1px solid var(--border-color);
    position: relative;
    padding: 17px 15px 15px;
    width: 100%;
}

.mail-inbox .mail-right .mail-list ul li .hover-action {
    background-color: var(--card-color);
    transition: all 0.5s ease-in-out;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    padding: 23px 16px 23px;
}

.mail-inbox .mail-right .mail-list ul li:hover .hover-action {
    opacity: 1;
}

.mail-inbox .mail-right .mail-list ul li:hover .mail-detail-expand {
    color: var(--primary-color);
}

.mail-inbox .mail-right .mail-list ul li.unread {
    background-color: var(--body-color);
}

.mail-inbox .mail-right .mail-list ul li.unread .hover-action {
    background-color: var(--body-color);
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-left {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
    position: relative;
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-left .mail-star {
    position: absolute;
    right: 13px;
    top: 0;
    color: #6c757d;
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-left .mail-star.active {
    color: #ffc107;
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-right {
    position: relative;
    padding-right: 70px;
    width: calc(100% - 70px);
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-right span.time {
    position: absolute;
    top: 0;
    right: 0;
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-right h6,
.mail-inbox .mail-right .mail-list ul li .mail-detail-right .h6,
.mail-inbox .mail-right .mail-list ul li .mail-detail-right p {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-list ul li .mail-detail-right h6 .badge,
    .mail-inbox .mail-right .mail-list ul li .mail-detail-right .h6 .badge {
        display: none;
    }
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-right h6 a,
.mail-inbox .mail-right .mail-list ul li .mail-detail-right .h6 a {
    color: var(--color-600);
}

.mail-inbox .mail-right .mail-list ul li .mail-detail-right p {
    margin-bottom: 0;
}

.mail-inbox .mail-right .mail-detail-full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--card-color);
}

.mail-inbox .mail-right .mail-detail-full .mail-action {
    padding: 15px;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-detail-full .mail-action {
        padding: 10px;
    }
}

.mail-inbox .mail-right .mail-detail-full .detail-header {
    padding: 20px 15px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.mail-inbox .mail-right .mail-detail-full .detail-header .float-start img {
    max-width: 63px;
    border-radius: 5px;
}

.mail-inbox .mail-right .mail-detail-full .media-body p a {
    color: #6c757d;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-detail-full .media-body p span,
    .mail-inbox .mail-right .mail-detail-full .media-body p small,
    .mail-inbox .mail-right .mail-detail-full .media-body p .small {
        display: none;
    }
}

.mail-inbox .mail-right .mail-detail-full .mail-cnt {
    padding: 20px 15px;
}

@media (max-width: 767.98px) {
    .mail-inbox .mail-right .mail-detail-full a.mail-back {
        top: -60px;
    }
}
.mobile-left {
    display: none;
}

@media (max-width: 767.98px) {
    .mobile-left {
        display: block;
        position: absolute;
        z-index: 97;
        left: 10px;
        top: 8px;
    }
}

.chat_app {
    overflow: hidden;
}
/* ////////////////////// Responsive css //////////*/

@media (max-width: 1199.98px) {
    #wrapper #main-content {
        width: 100%;
        padding: 0;
    }
    #wrapper .sidebar {
        -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
        left: -280px;
    }
}
